
#Title{
  position: static;
  color: white;
  padding-left: 25%;
  font-size: 15px;
}

#Title2{
  font-size: 15px;
}

#Principal{
  position: static;
  list-style-type: none;
  display: flex;
  gap: 5%;
  flex-direction: row;
}

#div-principal{
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#texto{
  text-align: justify;
}

#sub-temas, #text1, #text2{
  text-align: justify;  
}

#video-principal{
  display: flex;
  align-items: center;
  justify-content: center;
}

video{
  border: 1px solid #ffffff;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

#subitulo3{
  text-align: center;
}

#ventajas{
  margin-top: 50px;
}

#lista-ventajas, #lista-desventajas{
  text-align: justify;
}

#ven-des{
  text-align: center;
}
/* IMAGENES*/
#Automatizacion-Img, #PlanosAutomatizacion, #AutomatizacionPersonal{
  width: 512px;
  height: 512px;
  border: 1px solid #ffffff;
  border-radius: 20px;
}
#Designer-automatizacion{
  width: 512px;
  height: 277.5px;
  border: 1px solid #ffffff;
  border-radius: 20px;
}

.img-small {
  width: 200px; 
  height: auto; 
  border: 1px solid #ffffff;
  border-radius: 15px; 
  float: right; 
  margin-left: 15px; 
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}


/* Banner con imagen */
.banner {
  background-image: url('../imagenes/Sistemas-de-inspeccion-y-control-de-la-calidad-automatizados.jpg');
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  position: relative;
}

.banner::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  pointer-events: none;
}

/* Estilos para el texto del banner */
.banner-text {
  color: #080707;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.contenedor_video {
  display: flex !important;
  justify-content: center !important;
}

/* Estilos para el pie de página */
footer {
  margin-top: 50px;
}

/* Estilos para el menú lateral */
.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #f0f0f0;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
